<div class="container">
    <div class="row justify-content-center">
        <img src="../assets/image/imagenUCAB.PNG">
    </div>
    <br>
    <h2 class="row justify-content-center"><strong style="color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Bienvenido a sandwich UCAB</strong> </h2>
    <br>
    <button type="button" class="btn btn-dark btn-lg btn-block" (click)="hacerOrden()">Realizar orden</button>
    <br>
    <button type="button" class="btn btn-secundary btn-lg btn-block">Obtener factura</button>
    <br>
    <button type="button" class="btn btn-dark btn-lg btn-block">Reportes</button>


</div>