<br>
<form (ngSubmit)="addSandwich()">
    <div class="container">
        <div class="row justify-content-center">
            <select name="size" (change)="selectSize($event)" class="btn btn-dark">
                <option [ngValue]="null" disabled selected>Tamaño</option>
                <!-- <option *ngFor="let options of size"> {{options}} </option> -->
            </select>
        </div>
    </div>
    <br>
    <div class="container col-6">
        <div class="row">
            <div class="col">
                <h3 *ngFor="let options of ingredients" style="margin-top: 5px;">{{options}}</h3>
            </div>
            <div class="col">
                <input type="number" *ngFor="let options of ingredients" id="{{options}}" style="width: 100%;margin-top: 7px;">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <button type="button" (click)="addSandwich()" class="btn btn-dark">
            Añadir sandwich
            </button>
        </div>
    </div>
    <br>
    <div class="container col-8">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th *ngFor ="let column of headers">
                {{column}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let column of headers">
                {{row[column]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    
    
    
    
    
</form>
